// A mixin that generates CSS for unstyled lists
// @mixin unstyled-list
// @category layout
// @param $gutter {Number} is the value that defines the grid's gutter spacing (defaults to 0)
// @usage:
// .my-list{
// 	=unstyled-list;
// }
@mixin unstyled-list{
	list-style: none;
	list-position: outside;
	list-style-image: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

%unstyled-list{
	@include unstyled-list;
}

// A mixin that generates CSS for floated lists
// @mixin floated-list
// @category layout
// @param $spacing {Number} is the value that defines the floated-list's spacing (defaults to 0)
// @param $direction {String} is the value that defines the floated-list's direction (defaults to left) [left, right]
// @usage:
// .my-list{
// 	=floated-list;
// }

@mixin floated-list($spacing: false, $direction: left){
	@include unstyled-list;
	@include clearfix;

	& > li {
		float: $direction;
	}

	@if $spacing{
		& > li + li{
			margin-#{$direction}: $spacing;
		}
	}
}

%floated-list{
	@include floated-list;
}
