// A mixin that generates CSS prefixes for hyphens
// @mixin hyphens
// @category prefixes
// @param $val {String} hyphens's valid value
// @usage:
// @import verepo/generic/_hyphens
// .an-element{
// 	=hyphens(auto);
// }
@mixin hyphens($val){
	-moz-hyphens: $val;
	-webkit-hyphens: $val;
	hyphens: $val;
}
