@import "lib/generic/_base";
@import "lib/generic/_helpers";
@import "lib/modules/_grid";
@import "_font-awesome";

// codeMagic style

@media only screen and (min-width: 1024px){
	@import "_hint";
}

$color: #222;
$bg-color: #eee;
$color-inv: invert($color);
$bg-color-inv: invert($bg-color);
$size: 1rem;
$small: $size/1.5;
$large: $size*1.5;
$xsmall: $size/2;
$xlarge: $size*2;

@include grid(12, $size);

body{
	color: $color;
	background-color: $bg-color;
	padding-bottom: $size;
	overflow-x: auto;
	overflow-y: scroll;
}

header{
	display: block;
	width: 100%;
	padding: 0;
	background-color: lighten($bg-color, 50%);
	@include box-shadow(0 1px 2px darken($bg-color, 10%));
	@include user-select(none);
}

#editors{
	padding: 0 $size;
	@include transition(150ms ease);

	&.enlarged{
		padding-bottom: 30%;
	}

	::-webkit-scrollbar {
		width: auto;
	}

	::-webkit-scrollbar-track {
		background: $bg-color;
	}

	::-webkit-scrollbar-thumb {
		background: darken($bg-color, 15%);
	}

	::-webkit-scrollbar-corner,
	::-webkit-scrollbar-thumb:window-inactive {
		background: $bg-color;
	}
}

.editor-module{
	display: none;
	margin-bottom: $size;
	border: 1px solid darken($bg-color, 5%);
	@include border-radius(0 0 5px 5px);

	&:last-child{
		margin-bottom: 0;
	}

	&.enabled{
		display: block;
	}
}

.editor-config{
	position: relative;
	padding: $xsmall;
	@include user-select(none);

	.editor-options-toggle,
	.editor-fullscreen-toggle{
		display: inline-block;
		padding: 0;
		color: $color;
		background-color: transparent;
		outline: none;
		border: 1px solid transparent;
	}

	span{
		font-weight: bold;
	}
}

.editor-options{
	@include borderbox;
	display: none;
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	padding: $size;
	background-color: $bg-color;
	border: 1px solid darken($bg-color, 5%);

	&.enabled{
		display: inline-block;
	}
}

.editor-wrap{
	@include borderbox;
	position: relative;
	height: 200px;
}

.editor{
	width: 100%;
	height: 100%;
}

.resizer{
	position: relative;
	z-index: 10;
	height: $size;
	width: 100%;
	cursor: ns-resize;
	text-align: center;
	@include border-radius(0 0 5px 5px);
}

.resizer--icon{
	display: inline-block;
	cursor: ns-resize;
	@include transform(rotate(90deg));
	@include user-select(none);
}

#console{
	@include borderbox;
	padding: 0 $size;
	width: 100%;

	.editor-module{
		margin-top: $size;
	}
}

#console-editor{
	@include borderbox;
	font-size: $small;
	background-color: lighten($bg-color, 50%);
	padding: $size;
}

#result{
	float: right;
	padding-right: $size;
	@include transition(150ms ease);

	@media only screen and (max-width: 1023px){
		padding-top: $size;
		padding-left: $size;
	}

	iframe{
		width: 100%;
		height: 100%;
		background-color: lighten($bg-color, 15%);
		border: none;
	}
}

.nav-btn{
	display: inline-block;
	padding: $small $size;
	vertical-align: middle;
	font-weight: bold;
	background-color: transparent;
	outline: none;
	border: none;
	border-right: 1px solid darken($bg-color, 5%);

	span{
		@include transition(color 150ms);
		color: lighten($color, 55%);
	}

	&:hover{
		background-color: $bg-color;
	}

	&.placeholder{
		cursor: initial;
		padding-left: initial;
		@include user-select(none);

		&:hover{
			background-color: transparent;
		}
	}

	&.enabled{
		span{
			color: $color;
		}
	}
}

.no-padding-bottom{
	padding-bottom: 0;
}

.js-error {
	display: block;
	color: #da0000;
}

-webkit-full-screen #editors > section {
	width: 100% !important;
	height: 100% !important;
}

// Static page style

.page{
	margin: $size;
	padding: $size;
	background-color: lighten($bg-color, 15%);
}
