@import "lib/generic/_base";
@import "lib/modules/_form";
@import "lib/modules/_grid";
@import "lib/modules/_button";
@import "lib/modules/_loading";
@import "lib/generic/_font-face";

// generate a 12-column grid with 1em gutter spacing
@include grid(12, 1em);


.editor-wrap{
	@include borderbox;
	position: relative;
	height: 200px;
}

.editor{
	width: 100%;
	height: 100%;
}

#result{
	iframe{
		width: 100%;
		border: none;
	}
}
