//  =====================
//  = Author: Adonis K. =
//  =====================

// MIXINS GUIDE
	// @include border-radius(5px),
			//  border-radius(5px top, right)
	// @include box-shadow($val1, [$val2, $val3, ... , $val6])
	// @include transition($val)
	// @include border-box
	// @include hyphens
	// @include gradient($color1, $color2, [$direction: {horizontal, vertical, radial}])
	// @include font-face($family, $url)
	// @include cssTriangle($size, $color, [$direction: {top, left, bottom, right}])

@include font-face('AmaranthRegular', '../../assets/fonts/Amaranth-webfont');

-webkit-full-screen #langs > section {
	width: 100% !important;
	height: 100% !important;
}

html,
body,
#container{
	@include border-box;
	height: 100%;
}

body{
	background-color: #eee;
	overflow-x: auto;
	overflow-y: scroll;
	font-family: 'AmaranthRegular', Arial, sans-serif;
}

header{
	@include border-box;
	padding: 0;
	text-align: center;
	background-color: #191919;
}

.navigation{
	list-style: none;
	list-style-image: none;
	margin: 0;
	padding: 0;

	h1{
		display: block;
		font-size: 1em;
		float: left;

		a,
		a:visited{
			display: block;
			padding: 0.5em;
			color: #fff;
			text-decoration: none;
			@include transition(100ms ease);
			text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
		}

		a:hover{
			text-decoration: underline;
		}
	}

	li{
		float: left;
		display: block;
		color: #333;
		background-color: #191919;
		border-left: 1px solid #000;
		@include transition(150ms ease);

		a,
		a:visited{
			display: inline-block;
			padding: 0.5em;
			color: #333;
		}
	}

	li:nth-last-child(2){
		border-right: 1px solid #000;
	}

	li.enabled{
		color: #fff;

		a{
			color: #fff;
		}
	}

	li:hover,
	li:focus{
		cursor: pointer;
		color: #ffe966;

		a{
			color: #ffe966;
		}
	}

	li.withtext{
		i{
			padding: 0.5em 0;
			margin-right: 0.5em;
			text-shadow: 0 2px 3px #69f;
		}
	}

	li.button{
		color: #fff;

		a{
			color: #fff;
		}
	}

	li.button.enabled{
		color: #ffee96;

		a{
			color: #ffee96;
		}
	}

	li.button:hover,
	li.button:focus{
		color: #222;
		background-color: #eee;
		@include box-shadow(0 0 2em #ccc inset);

		a{
			color: #222;
		}
	}

	li.toggler:active,
	li.button:active {
		@include box-shadow(0 0 1em #666 inset);
	}

	li.seperator{
		cursor: default !important;
		padding: 0.5em;
	}

	li.seperator:hover,
	li.seperator:focus{
		cursor: auto;
	}
}

#main{
	display: table;
	height: 95%;
	width: 100%;
}

#left,
#right{
	@include border-box;
	display: table-cell;
	height: 100%;
	width: 50%;
	vertical-align: top;
	@include transition(150ms ease);
}

#left{
	color: #fff;
	background-color: #25282C;
	@include transition(150ms ease-in-out);

	::-webkit-scrollbar {
		width: 0.5em;
	}

	::-webkit-scrollbar-track {
		@include box-shadow(inset 0 0 6px rgba(0, 0, 0, 0.3));
	}

	::-webkit-scrollbar-thumb {
		background: rgba(100, 100, 100, 0.8);
	}

	::-webkit-scrollbar-corner,
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(100, 100, 100, 0.4);
	}


	#langs{
		@include border-box;
		padding-top: 1em;

		> section{
			display: none;
			@include border-box;
			position: relative;
			padding: 0 1em 1em 1em;

			.editorFullscreen{
				color: #C5C8C6;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 0.75em;
				background-color: transparent;
				border: none;
			}
		}

		h1{
			position: relative;
			font-size: 1em;
			font-weight: normal;
			color: #c5c8c6;

			a,
			a:visited{
				text-shadow: 0 0 3px #999;
			}

			a:hover{
				color: #fff;
				cursor: pointer;
				text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
			}

			a.enabled{
				color: #ffee96;
			}

			.settingsWrap{
				display: none;
				position: absolute;
				top: 0;
				z-index: 15;
				margin-left: 0.5em;
			}
		}

		.editor-wrap{
			height: 200px;
			@include border-box;
			position: relative;
		}

		#console-editor{
			overflow-x: hidden;
			overflow-y: scroll;
			margin-left: 3em;
			padding: 1em;
			font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Droid Sans Mono', 'Consolas', monospace;
			font-size: 0.8em;
			background-color: #1D1F21;
		}
	}

	#sidebar.active{
		width: 50%;
	}

	#langs.inactive{
		width: 50%;
	}

	#langs.fullsize{
		width: 100%;
	}
}

#right{
	position: relative;
	background-color: #fff;

	iframe{
		border: none;
		width: 100%;
	}
}

#css,
#html,
#js{
	@include border-box;
	width: 100%;
	margin: 0;
	padding: 1em;
}

.ace_editor {
  position: absolute !important;
}

.editor{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.popup{
	@include border-box;
	@include transition(150ms ease);
	display: none;
	position: absolute;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
	background-color: #fff;
	border-bottom: 5px solid #eee;
	@include box-shadow(0 0 5px #000);

	h1 {
		color: #222;
	}

	input[type=text],
	textarea{
		@include border-box;
		padding: 0.15em;
		background-color: #fff;
		border: 1px solid #aaa;
		box-shadow: 0 0 3px #ccc inset;
	}

	textarea{
		width: 100%;
	}

	p{
		margin: 1em 0;
	}
}


#social{
	padding: 1em 1em 0.5em 1em;

	a,
	a:visited{
		display: inline-block;
		text-decoration: none;
		color: #222;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
		background-color: #eee;
		border: 1px solid #ccc;
		-webkit-box-shadow: 0 0 3px #ccc;
		-moz-box-shadow: 0 0 3px #ccc;
		box-shadow: 0 0 3px #ccc;

		i{
			border-right: 1px solid #ccc;
		}

		i,
		span{
			padding: 0.5em;
		}
	}

	a.twitter i{
		color: #1ab2e8;
	}

	a.linkedin i{
		color: #0073b2;
	}

	a.pinterest i{
		color: #cc2127;
	}


	a.google-plus i{
		color: #dd4b39;
	}

	a.facebook i{
		color: #3b5998;
	}

	a:focus,
	a:hover{
		background-color: #fff;
		border: 1px solid #f90;
		-webkit-box-shadow: 0 0 3px #f90;
		-moz-box-shadow: 0 0 3px #f90;
		box-shadow: 0 0 3px #f90;

		i{
			border-right: 1px solid #f90;
		}
	}
}


#overlay{
	display: none;
	@include border-box;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.3);
}

.editor-resizer{
	font-size: 0.7em;
	text-align: center;
	color: #111;
	cursor: ns-resize;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 0 0 5px 5px;
	@include box-shadow(0 0 30px rgba(0, 0, 0, 0.2) inset);
}

.closeButton{
	position: absolute;
	top: 1em;
	right: 1em;
	background-color: #fff;
	border: 1px solid #ccc;
	@include box-shadow(0 0 3px #ccc);
}

.closeButton:focus,
.closeButton:hover{
	color: #fff;
	background-color: #da0000;
	border: 1px solid #da0000;
	@include box-shadow(0 0 3px #da0000, 0 0 3px #da0000 inset);
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}
