/* ==========================================================================
	Base styles: opinionated defaults
	========================================================================== */

html,
button,
input,
select,
textarea{color: #222;}

body{font-size: 1em;line-height: 1.4;}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection{background: #b3d4fc;text-shadow: none;}
::selection{background: #b3d4fc;text-shadow: none;}

/*
 * A better looking default horizontal rule
 */

hr{display: block;height: 1px;border: 0;border-top: 1px solid #ccc;margin: 1em 0;padding: 0;}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img{vertical-align: middle;}

/*
 * Remove default fieldset styles.
 */

fieldset{border: 0;margin: 0;padding: 0;}

/*
 * Allow only vertical resizing of textareas.
 */

textarea{resize: vertical;}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{ border: 0; margin: 0; padding: 0; }



.floatLeft{ float: left; }

.floatRight{ float: right; }

.marginLeft{ margin-left: 1em; }
.marginRight{ margin-right: 1em; }