// A mixin that generates CSS for image replacement
// @mixin ir
// @category helpers
// @usage:
// .image-replacement{
// 	=ir;
// }
@mixin ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

%ir{
	@include ir;
}
