// A mixin that generates CSS prefixes for border-radius
// @mixin border-radius
// @category prefixes
// @param $val {String} border-radius's valid value
// @import verepo/generic/_border-radius
// @usage:
// .an-element{
// 	=border-radius(5px 0 0 5px);
// }
@mixin border-radius($val...){
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	border-radius: $val;
}
